= form_for @user do |f|
  = error_message_for(@user)

  .form-group
    = f.label :firstName
    = f.text_field :firstName, class: 'form-control'
  .form-group
    = f.label :middleName
    = f.text_field :middleName, class: 'form-control'
  .form-group
    = f.label :lastName
    = f.text_field :lastName, class: 'form-control'
  .form-group
    = f.label :login
    = f.text_field :login, class: 'form-control'
  .form-group
    = f.label :password
    = f.password_field :password, class: 'form-control'
  .actions
    = f.submit nil, class: 'btn btn-primary'
-#.emailfield
-# password_confirmation
