= form_for @user do |f|
  = error_message_for(@user)

  .field
    = f.label :firstName
    = f.text_field :firstName
  .field
    = f.label :middleName
    = f.text_field :middleName
  .field
    = f.label :lastName
    = f.text_field :lastName
  .field
    = f.label :login
    = f.text_field :login
  .field
    = f.label :password
    = f.text_field :password
  .actions
    = f.submit
