%nav.navbar.navbar-default.navbar-fixed-top
  .navbar-header
    = link_to "BLOG", root_path, class: 'navbar-brand'
  #navbar.collapse.navbar-collapse
    %ul.nav.navbar-nav
      %li= link_to 'пользователи', users_path
      %li= link_to 'решистрация', new_user_path
    %ul.nav.navbar-nav.navbar-right
      - if @current_user
        %li
          %p.navbar-text= @current_user.login
        %li= link_to 'exit', logout_path
      - else
        %li= link_to 'login', login_path
